.hero {
    position: relative;
    height: 30%;
    padding: 0;
}

@media screen and (max-width: 1200px) {
    .hero {
        height: 20%;
    }

}

@media screen and (max-width: 900px) {
    .hero {
        height: 15%;
    }

}
