.maincontainer {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

.foodTitle {
    text-align: center;
    text-decoration: underline;
    font-size: calc(1.375rem + 1.5vw);
}

.imageContainer {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.infocontainer {
    display: flex;
    border-radius: 10px;
}

.titleHeader {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.custom-range {
    width: 80%;
}

/* .recipe {
    background: black;
} */

@media screen and (max-width: 1216px) {
  body {
    font-size: 14px !important;
  }

  .titleHeader {
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 20px;
  }

}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 14px;
  }

  .btn {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 576px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 14px;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    }

    .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
    }

    /* .btn {
        font-size: 10px !important;
    } */
}