.maincontainer {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  /* background: black; */
  padding: 0;
  margin: 0;
}

.container.btn-box {
  display: flex;
  flex-direction: row;
  width: 80vw;
  /* justify-content: space-between; */
}

.btn-box.btn-box-left {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* margin-left: 1rem; */
  /* padding-left: 0;  */
}

.btn-box.btn-box-right {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* margin-right: 1rem; */
  /* justify-content: center; */
}

.btn-recipe {
  height: 5rem;
  width: 10rem;
  margin: 1rem;
}

/* #heart {
  color: red !important;
} */

.foodTitle {
  text-align: center;
  text-decoration: underline;
  font-size: calc(1.375rem + 1.5vw);
}

.imageContainer {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.infocontainer {
  display: flex;
  border-radius: 10px;
}

.titleHeader {
  font-size: 30px;
  font-weight: bold;
  text-align: left !important;
}

.custom-range {
  width: 80%;
}

.recipe {
    background: black;
}

@media screen and (max-width: 1216px) {
  body {
    font-size: 14px !important;
  }

  .titleHeader {
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 20px;
  }

}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 14px;
  }

  .btn {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 14px;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .btn {
    font-size: 10px !important;
    height: 2rem;
    width: 4rem;
  }

  .container.btn-box {
    flex-direction: row;
  }
}

@media screen and (max-width: 450px) {
  .container.btn-box {
    flex-direction: row;
  }
  .btn {
    font-size: 5pt !important;
    height: 1rem;
    width: 2rem;
  }
}