.maincontainer {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  /* background: black; */
  padding: 0;
  margin: 0;
}

.container.btn-box {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
}

.btn-box-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1rem;
  padding: 0;
  margin: 0;
}

.btn-box-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  padding: 0;
  margin: 0;
}

.btn-recipe {
  height: 5rem;
  width: 10rem;
  /* margin: 1rem; */
}

/* // Hide short text by default (resolution > 1200px) */
.short-text.btn-fav {
  display: none;
}

.short-text.btn-email {
  display: none;
}

.short-text.btn-print {
  display: none;
}

.btn-print,
.btn-email,
.btn-fav,
.btn-bk,
.btn-bk-g {
  margin: 1rem;
}

.foodTitle {
  text-align: center;
  text-decoration: underline;
  font-size: calc(1.375rem + 1.5vw);
}

.imageContainer {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.infocontainer {
  display: flex;
  border-radius: 10px;
}

.titleHeader {
  font-size: 30px;
  font-weight: bold;
  text-align: left !important;
}

.custom-range {
  width: 80%;
}

.recipe {
  background: black;
}

@media screen and (max-width: 1216px) {
  body {
    font-size: 14px !important;
  }

  .titleHeader {
    font-size: 24px;
  }
  .btn-bk-g {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 20px;
  }

  .btn {
    font-size: 11px !important;
    width: 5rem;
    height: 4rem;
  }
  .short-text.btn-fav {
    display: inline-block;
  }

  .full-text.btn-fav {
    display: none;
  }

  .short-text.btn-print {
    display: inline-block;
  }

  .full-text.btn-print {
    display: none;
  }

  .short-text.btn-email {
    display: inline-block;
  }

  .full-text.btn-email {
    display: none;
  }
  .btn-home {
    font-size: 12pt !important;
    height: 4rem;
    width: auto;
  }
  .btn-bk-g {
    margin-left: 1rem;
    margin-top: 1rem;
  }

}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 14px;
  }

  .btn-recipe {
    font-size: 8px !important;
    width: 5rem;
    height: 4rem;
  }
  .btn-bk-g {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px !important;
  }

  .titleHeader {
    font-size: 14px;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .btn {
    font-size: 8px !important;
    height: 5rem;
    width: 8rem;
  }

  .container.btn-box {
    flex-direction: row;
  }
  .btn-bk-g {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .container.btn-box {
    flex-direction: row;
  }

  .btn-home {
    font-size: 5pt !important;
    height: 4rem;
    width: auto;
  }

  .btn-bk-g {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}