html, body {
    height: 100vh;
}
.cardContainer {
    min-height: 100vh;
}

.btn-box-home {
    display: flex;
    justify-content: center;
}

.btn-home {
    border: 1px solid rgb(255, 255, 255) !important;
    color: white !important;
    margin: 5px;
    width: 10rem;
    background-color: black !important;
}
