.card {
    border: 1px solid #1c1c1c !important;
    /* background: linear-gradient(45deg, #FDFCFB, #E2D1C3) !important;  */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    display: inline-block;
    border-radius: 5px !important;
    height: auto;
    margin: 1rem;
    position: relative;
    width: 350px !important;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    color: black;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card > .img-container {
    height: 250px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  
  }
  
  .card > .img-container > img {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
  
}
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    height: auto;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  a {
    text-decoration: none !important;
    color: #36454F !important;
  }
  