.btn-back,
.btn-print,
.btn-email {
    border: .5px solid white !important;
    color: white !important;
    margin: 5px;
}

.maincontainer {
    max-height: 100vh;
    background: black;
}

.foodTitle {
    text-align: center;
    text-decoration: underline;
    font-size: calc(1.375rem + 1.5vw);
}

.imageContainer{
    max-height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.infocontainer {
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.titleHeader {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.custom-range {
    width: 80%;
}

.recipe {
    background: black;
}